.u-section-1 .u-sheet-1 {
  min-height: 770px;
}

.u-section-1 .u-text-1 {
  margin: 19px auto 0;
}

.u-section-1 .u-text-2 {
  width: 533px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 46px 591px 0 16px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: -151px 16px 0 591px;
}

.u-section-1 .u-text-5 {
  width: 533px;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 407px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 407px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 187px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 187px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-right: 7px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 770px;
}

.u-section-2 .u-text-1 {
  width: 533px;
  margin: 19px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 46px 591px 0 16px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: -216px 16px 0 591px;
}

.u-section-2 .u-text-4 {
  width: 533px;
  margin: 115px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 407px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 407px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 187px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 187px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 7px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
  }
}